<%- include header %>
  <% if (user && (user.name == name)) { %>
    <p>
      <span><a class="edit" href="/edit/<%= _id %>">编辑</a></span>
      <span><a class="edit" href="/remove/<%= name %>/<%= _id %>">删除</a></span>
    </p>
  <% } %>
  <p class="info">
    作者：<a href="/u/<%= name %>"><%= name %></a> | 
    日期：<%= postDate %>
  </p>
  <p><%- postContent %></p>
<%- include footer %>